In [1]:
from __future__ import print_function

import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix

#Setting the parameters
NGRAMS = 2
EPOCHS = 15

# Reading in the Harvard data. NEW!!
io = '/Users/boraozaltun/Documents/GitHub/ethnicolr/ethnicolr/data/harvard/firstnames.xlsx'
datadesc = pd.read_excel(io, sheet_name=0, header=0)
df = pd.read_excel(io, sheet_name=1, header=0)
# Dropping the "All other names" row. NEW!!
df = df.drop(4250)
df

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace
0,AARON,3646,2.880,91.607,3.264,2.057,0.055,0.137
1,ABBAS,59,0.000,71.186,3.390,25.424,0.000,0.000
2,ABBEY,57,0.000,96.491,3.509,0.000,0.000,0.000
3,ABBIE,74,1.351,95.946,2.703,0.000,0.000,0.000
4,ABBY,262,1.527,94.656,1.527,2.290,0.000,0.000
5,ABDUL,221,0.452,44.344,6.787,47.511,0.452,0.452
6,ABDULLAH,44,2.273,65.909,9.091,22.727,0.000,0.000
7,ABE,31,6.452,77.419,12.903,3.226,0.000,0.000
8,ABEL,327,82.569,12.844,2.141,2.446,0.000,0.000
9,ABELARDO,76,78.947,9.211,0.000,11.842,0.000,0.000
10,ABHIJIT,34,0.000,17.647,0.000,82.353,0.000,0.000
11,ABHISHEK,18,0.000,0.000,0.000,100.000,0.000,0.000
12,ABIGAIL,418,12.201,81.579,1.435,4.785,0.000,0.000
13,ABNER,41,39.024,34.146,12.195,14.634,0.000,0.000
14,ABRAHAM,413,30.751,47.700,7.748,12.349,1.453,0.000
15,ABRAM,43,9.302,81.395,6.977,2.326,0.000,0.000
16,ADA,199,30.653,53.266,7.035,8.543,0.503,0.000
17,ADALBERTO,69,94.203,5.797,0.000,0.000,0.000,0.000
18,ADAM,4725,1.989,96.148,0.635,1.016,0.085,0.127
19,ADAN,146,91.781,5.479,2.055,0.685,0.000,0.000
20,ADDIE,49,2.041,67.347,26.531,2.041,2.041,0.000
21,ADEL,77,9.091,71.429,5.195,14.286,0.000,0.000
22,ADELA,122,63.115,28.689,0.000,8.197,0.000,0.000
23,ADELAIDA,44,52.273,13.636,0.000,34.091,0.000,0.000
24,ADELAIDE,41,12.195,75.610,12.195,0.000,0.000,0.000
25,ADELE,193,0.518,93.782,2.591,2.591,0.000,0.518
26,ADELINA,62,62.903,25.806,1.613,8.065,1.613,0.000
27,ADELINE,66,10.606,65.152,7.576,15.152,0.000,1.515
28,ADINA,55,3.636,89.091,5.455,1.818,0.000,0.000
29,ADMIR,15,0.000,100.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
4220,ZACH,51,1.961,98.039,0.000,0.000,0.000,0.000
4221,ZACHARIAH,55,1.818,92.727,3.636,0.000,1.818,0.000
4222,ZACHARY,1116,0.806,95.968,1.613,0.986,0.269,0.358
4223,ZACHERY,33,0.000,96.970,3.030,0.000,0.000,0.000
4224,ZACK,33,3.030,87.879,6.061,3.030,0.000,0.000
4225,ZAHRA,37,0.000,78.378,2.703,18.919,0.000,0.000
4226,ZANE,96,1.042,95.833,1.042,2.083,0.000,0.000
4227,ZBIGNIEW,100,0.000,100.000,0.000,0.000,0.000,0.000
4228,ZDZISLAW,17,0.000,100.000,0.000,0.000,0.000,0.000
4229,ZELJKO,21,0.000,100.000,0.000,0.000,0.000,0.000
4230,ZENAIDA,100,31.000,10.000,0.000,59.000,0.000,0.000
4231,ZENON,38,21.053,78.947,0.000,0.000,0.000,0.000
4232,ZHANNA,30,3.333,96.667,0.000,0.000,0.000,0.000
4233,ZHAO,23,0.000,0.000,0.000,100.000,0.000,0.000
4234,ZHE,22,0.000,0.000,0.000,100.000,0.000,0.000
4235,ZHEN,66,0.000,0.000,0.000,100.000,0.000,0.000
4236,ZHENG,47,2.128,0.000,0.000,97.872,0.000,0.000
4237,ZHI,85,0.000,3.529,0.000,94.118,0.000,2.353
4238,ZHIGANG,16,0.000,0.000,0.000,100.000,0.000,0.000
4239,ZHIQIANG,18,0.000,0.000,0.000,100.000,0.000,0.000
4240,ZHIYONG,17,0.000,0.000,0.000,100.000,0.000,0.000
4241,ZHONG,72,0.000,0.000,0.000,100.000,0.000,0.000
4242,ZHUO,28,0.000,0.000,0.000,100.000,0.000,0.000
4243,ZI,16,0.000,0.000,0.000,100.000,0.000,0.000
4244,ZINA,31,3.226,70.968,22.581,3.226,0.000,0.000
4245,ZOE,102,3.922,87.255,4.902,3.922,0.000,0.000
4246,ZOFIA,55,0.000,100.000,0.000,0.000,0.000,0.000
4247,ZOILA,66,86.364,12.121,1.515,0.000,0.000,0.000
4248,ZOLTAN,47,6.383,87.234,4.255,2.128,0.000,0.000
4249,ZORAN,52,0.000,100.000,0.000,0.000,0.000,0.000

## Resampling with weight

In [2]:
sdf = df.sample(200000, weights=df['obs'], replace=True)

In [3]:
sdf = sdf.dropna()

## Assign race by pertcentage

In [4]:
from numpy.random import choice

races = ['white', 'black', 'api', 'aian', 'prace','hispanic']

def to_race(c):
    w = np.array(c).astype(float)
    probs = w/w.sum()
    return choice(races, p=probs)

sdf['race'] = sdf[['pctwhite', 'pctblack', 'pctapi', 'pctaian', 'pct2prace','pcthispanic']].apply(lambda c: to_race(c), axis=1)
sdf

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace,race
3933,TRAVIS,1908,0.734,94.235,3.564,0.996,0.419,0.052,white
2782,MICHAEL,59532,1.693,94.363,2.142,1.592,0.092,0.118,white
1674,IAN,1156,0.779,93.166,2.855,2.855,0.000,0.346,white
2186,KIMBERLY,9637,1.090,93.982,3.756,0.892,0.104,0.176,white
1934,JOHN,51696,1.729,94.384,1.729,1.932,0.124,0.101,white
2753,MELODY,634,2.997,89.748,2.997,3.785,0.473,0.000,white
1774,JAMES,45722,1.000,94.016,3.279,1.472,0.116,0.118,white
1971,JOSEPH,22172,2.936,92.139,2.553,2.120,0.144,0.108,white
3256,REBECCA,7229,3.486,94.052,0.830,1.369,0.124,0.138,white
2527,LYNN,3651,0.931,94.412,1.616,2.821,0.164,0.055,white
3892,TIMOTHY,14467,0.691,96.274,1.763,1.044,0.138,0.090,white
1958,JONG,110,0.000,0.909,0.909,98.182,0.000,0.000,api
3493,SARA,3165,6.698,90.869,1.074,1.169,0.126,0.063,white
494,BRIAN,18306,0.716,96.182,1.338,1.590,0.098,0.076,white
1966,JOSE,8642,89.829,7.244,0.289,2.534,0.081,0.023,hispanic
359,BARBARA,12854,1.626,93.068,4.551,0.583,0.093,0.078,white
3862,THEA,76,2.632,86.842,6.579,3.947,0.000,0.000,white
3245,RAUL,1015,89.261,7.094,0.493,3.054,0.099,0.000,hispanic
701,CHI,224,0.000,2.679,0.000,97.321,0.000,0.000,api
1816,JASON,11815,1.667,93.542,1.574,2.861,0.161,0.195,white
2904,NANCY,11532,3.590,93.158,0.850,2.185,0.113,0.104,white
3669,SONDRA,250,0.400,90.800,7.200,1.600,0.000,0.000,white
381,BELINDA,542,10.148,70.295,14.207,4.613,0.000,0.738,white
2856,MONA,392,4.337,75.510,6.378,13.520,0.000,0.255,white
588,CARLOS,2891,82.705,13.352,1.730,2.041,0.069,0.104,white
2367,LEWIS,695,0.863,90.216,6.763,1.727,0.432,0.000,white
1994,JUDITH,5763,2.603,94.760,1.544,0.746,0.174,0.174,white
1774,JAMES,45722,1.000,94.016,3.279,1.472,0.116,0.118,white
108,ALICE,1923,4.888,80.135,6.292,8.164,0.208,0.312,white
3419,ROY,2099,3.478,85.136,5.622,5.431,0.238,0.095,white
...,...,...,...,...,...,...,...,...,...
3441,RYAN,6510,0.983,95.745,0.860,2.304,0.077,0.031,white
3184,QUY,38,0.000,5.263,0.000,94.737,0.000,0.000,api
3015,NORMA,1487,34.028,55.884,6.052,3.497,0.269,0.269,hispanic
2176,KIET,46,0.000,4.348,0.000,93.478,0.000,2.174,white
2507,LUIS,2698,87.398,11.008,0.111,1.446,0.037,0.000,hispanic
2295,LAUREN,2286,0.962,96.238,1.400,0.962,0.175,0.262,white
1756,JACQUELINE,3709,5.635,80.318,11.863,1.833,0.135,0.216,white
3725,STEVEN,18797,1.351,95.271,1.181,2.054,0.074,0.069,white
2101,KATHRYN,4720,0.975,97.225,1.017,0.636,0.042,0.106,white
3067,PAMELA,8124,1.219,92.688,4.776,1.108,0.086,0.123,white
1134,ELAINE,2364,2.073,87.775,4.484,5.499,0.085,0.085,white
1075,DOUGLAS,8505,0.788,96.767,1.211,1.011,0.082,0.141,white
869,DANA,3064,0.751,94.941,3.427,0.685,0.098,0.098,white
2684,MARY,23598,2.509,92.351,3.327,1.526,0.174,0.114,white
775,CODY,497,0.604,96.781,1.207,1.006,0.201,0.201,white
1982,JOYCE,3388,0.974,85.596,9.534,3.689,0.177,0.030,black
1923,JOEL,2947,11.435,84.459,1.934,2.002,0.102,0.068,api
1166,ELIZABETH,12737,5.967,90.547,1.523,1.759,0.102,0.102,white
2684,MARY,23598,2.509,92.351,3.327,1.526,0.174,0.114,white
182,ANDREA,4215,4.270,89.751,4.911,0.807,0.214,0.047,white
2100,KATHRINE,67,2.985,91.045,5.970,0.000,0.000,0.000,white
525,BRUCE,5348,0.617,95.568,2.113,1.384,0.206,0.112,white
2590,MARC,2700,1.704,94.148,2.889,0.926,0.074,0.259,white
3840,TERESA,5068,11.089,83.268,2.802,2.506,0.237,0.099,white
4143,WING,89,0.000,0.000,0.000,98.876,0.000,1.124,api
3957,TRUDY,314,0.955,93.949,3.503,1.592,0.000,0.000,white
2041,KAM,76,0.000,23.684,2.632,73.684,0.000,0.000,api
2750,MELISSA,7205,3.664,93.532,1.457,1.083,0.167,0.097,white
3889,TIFFANY,1833,1.418,82.433,10.202,5.292,0.327,0.327,white
3875,THOMAS,27408,0.974,95.917,1.310,1.569,0.113,0.117,white

## Check the correctness of race assignment

In [5]:
df[df.firstname == 'FRANCIS']

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace
1343,FRANCIS,2114,2.271,88.269,3.075,6.197,0.095,0.095

In [6]:
# Additional features
sdf['name_first'] = sdf.firstname.str.title()
sdf.groupby('race').agg({'name_first': 'count'})

          name_first
race
aian             319
api             8631
black           6999
hispanic       13625
prace            278
white         170148

In [7]:
len(sdf)

200000

## Preprocessing the input data

In [8]:
# only first name in Harvard data
sdf['name_last_name_first'] = sdf['name_first']

# build n-gram list
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
#vect = CountVectorizer(analyzer='char', ngram_range=(2, 2), lowercase=False) 
a = vect.fit_transform(sdf.name_last_name_first)
vocab = vect.vocabulary_
len(vocab)

611

In [9]:
import operator
sorted_vocab = sorted(vocab.items(), key=operator.itemgetter(1))
cols = list(map(operator.itemgetter(0), sorted_vocab))

In [10]:
count_df = pd.DataFrame(a.todense(), columns=cols)
count_df

,Aa,Ab,Ad,Af,Ag,Ah,Ai,Aj,Ak,Al,...,ze,zh,zi,zk,zl,zo,zr,zt,zu,zy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199992,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
count_df.sum().sort_values(ascending=False).describe()

count      611.000000
mean      1573.911620
std       3158.062455
min          3.000000
25%         37.000000
50%        249.000000
75%       1598.500000
max      28735.000000
dtype: float64

In [12]:
pd.set_option('display.max_rows', 20)
count_df.sum().sort_values(ascending=False)

ar    28735
an    25340
er    19609
ri    17845
en    17085
el    16247
ic    15888
ha    13695
th    12903
in    12802
      ...
zh        3
sv        3
zb        3
Zi        3
Us        3
yj        3
Hs        3
Ub        3
qb        3
uv        3
Length: 611, dtype: int64

In [13]:
# sort n-gram by freq (highest -> lowest)
words = []
for b in vocab:
    c = vocab[b]
    #print(b, c, a[:, c].sum())
    words.append((a[:, c].sum(), b))
    #break
words = sorted(words, reverse=True)
words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)

num_words = 611

In [14]:
def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

# build X from index of n-gram sequence
X = np.array(sdf.name_last_name_first.apply(lambda c: find_ngrams(c, NGRAMS)))

# check max/avg feature
X_len = []
for x in X:
    X_len.append(len(x))

max_feature_len = max(X_len)
avg_feature_len = int(np.mean(X_len))

print("Max feature len = %d, Avg. feature len = %d" % (max_feature_len, avg_feature_len))
y = np.array(sdf.race.astype('category').cat.codes)

# Split train and test dataset
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

Max feature len = 11, Avg. feature len = 4

In [15]:
# Split train and test for inhouse sampling accuracy. NEW!!
train_names, test_names = train_test_split(sdf.name_last_name_first.to_numpy(),
                                           test_size=0.2, random_state=21, stratify=y)

train_indexes, test_indexes = train_test_split(sdf.index.values,
                                           test_size=0.2, random_state=21, stratify=y)

## Train a LSTM model

ref: http://machinelearningmastery.com/sequence-classification-lstm-recurrent-neural-networks-python-keras/

In [16]:
'''The dataset is actually too small for LSTM to be of any advantage
compared to simpler, much faster methods such as TF-IDF + LogReg.
Notes:

- RNNs are tricky. Choice of batch size is important,
choice of loss and optimizer is critical, etc.
Some configurations won't converge.

- LSTM loss decrease patterns during training can be quite different
from what you see with CNNs/MLPs/etc.
'''
import keras
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding, Dropout, Activation
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.models import load_model

max_features = num_words # 20000
feature_len = 20 # avg_feature_len # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print(len(X_train), 'train sequences')
print(len(X_test), 'test sequences')

print('Pad sequences (samples x time)')
X_train = sequence.pad_sequences(X_train, maxlen=feature_len)
X_test = sequence.pad_sequences(X_test, maxlen=feature_len)
print('X_train shape:', X_train.shape)
print('X_test shape:', X_test.shape)

num_classes = np.max(y_train) + 1
print(num_classes, 'classes')

print('Convert class vector to binary class matrix '
      '(for use with categorical_crossentropy)')
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)
print('y_train shape:', y_train.shape)
print('y_test shape:', y_test.shape)

Using TensorFlow backend.

160000 train sequences
40000 test sequences
Pad sequences (samples x time)
X_train shape: (160000, 20)
X_test shape: (40000, 20)
6 classes
Convert class vector to binary class matrix (for use with categorical_crossentropy)
y_train shape: (160000, 6)
y_test shape: (40000, 6)

In [17]:
print('Build model...')

model = Sequential()
model.add(Embedding(num_words, 32, input_length=feature_len))
model.add(LSTM(128, dropout=0.1, recurrent_dropout=0.1))
model.add(Dense(num_classes, activation='softmax'))

# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

print(model.summary())

Build model...
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 20, 32)            19552
_________________________________________________________________
lstm_1 (LSTM)                (None, 128)               82432
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 774
=================================================================
Total params: 102,758
Trainable params: 102,758
Non-trainable params: 0
_________________________________________________________________
None

In [18]:
print('Train...')
model.fit(X_train, y_train, batch_size=batch_size, epochs=EPOCHS,
          validation_split=0.1, verbose=2)
score, acc = model.evaluate(X_test, y_test,
                            batch_size=batch_size, verbose=2)
print('Test score:', score)
print('Test accuracy:', acc)

Train...
Train on 144000 samples, validate on 16000 samples
Epoch 1/15
 - 104s - loss: 0.4873 - acc: 0.8736 - val_loss: 0.4701 - val_acc: 0.8773
Epoch 2/15
 - 105s - loss: 0.4468 - acc: 0.8835 - val_loss: 0.4604 - val_acc: 0.8789
Epoch 3/15
 - 101s - loss: 0.4369 - acc: 0.8853 - val_loss: 0.4520 - val_acc: 0.8822
Epoch 4/15
 - 107s - loss: 0.4296 - acc: 0.8875 - val_loss: 0.4487 - val_acc: 0.8822
Epoch 5/15
 - 95s - loss: 0.4242 - acc: 0.8889 - val_loss: 0.4437 - val_acc: 0.8837
Epoch 6/15
 - 91s - loss: 0.4199 - acc: 0.8906 - val_loss: 0.4390 - val_acc: 0.8851
Epoch 7/15
 - 92s - loss: 0.4159 - acc: 0.8916 - val_loss: 0.4361 - val_acc: 0.8872
Epoch 8/15
 - 91s - loss: 0.4129 - acc: 0.8925 - val_loss: 0.4367 - val_acc: 0.8869
Epoch 9/15
 - 91s - loss: 0.4098 - acc: 0.8927 - val_loss: 0.4330 - val_acc: 0.8878
Epoch 10/15
 - 91s - loss: 0.4081 - acc: 0.8931 - val_loss: 0.4324 - val_acc: 0.8885
Epoch 11/15
 - 91s - loss: 0.4065 - acc: 0.8938 - val_loss: 0.4319 - val_acc: 0.8882
Epoch 12/15
 - 91s - loss: 0.4042 - acc: 0.8937 - val_loss: 0.4303 - val_acc: 0.8894
Epoch 13/15
 - 91s - loss: 0.4032 - acc: 0.8941 - val_loss: 0.4303 - val_acc: 0.8887
Epoch 14/15
 - 91s - loss: 0.4015 - acc: 0.8946 - val_loss: 0.4302 - val_acc: 0.8883
Epoch 15/15
 - 91s - loss: 0.4003 - acc: 0.8947 - val_loss: 0.4295 - val_acc: 0.8894
Test score: 0.41741844502687453
Test accuracy: 0.8924

### Inhouse accuracy measure. NEW!!

In [22]:
sdf_subsample = sdf.sample(n=40000, random_state=2) #0.2
# sdf_subsample = sdf.loc[test_indexes]

X_inhouse_test = np.array(sdf_subsample.name_last_name_first.apply(lambda c: find_ngrams(c, NGRAMS)))
X_inhouse_test = sequence.pad_sequences(X_inhouse_test, maxlen=feature_len)
y_inhouse_predicted = pd.DataFrame(model.predict(X_inhouse_test), columns = [ 'pctaian_predict','pctapi_predict',
                                                                             'pctblack_predict','pcthispanic_predict', 
                                                                             'pct2prace_predict','pctwhite_predict'])

y_inhouse = sdf_subsample[[ 'pctaian','pctapi',  'pctblack','pcthispanic', 'pct2prace','pctwhite']]
y_inhouse = y_inhouse.apply(lambda x: round(x/100, 2))

y_inhouse_predicted = y_inhouse_predicted.set_index(y_inhouse.index)

inhouse = pd.concat([y_inhouse, y_inhouse_predicted], axis=1, join_axes=[y_inhouse_predicted.index])

In [23]:
from numpy.random import choice


def sampling_accuracy_4_one(row):
    """Given a row of true percentages and predicted percentages, draw 100 samples from both 
        empirical distributions and compare how many times they match!"""
    
    true = row[[ 'pctaian','pctapi',  'pctblack','pcthispanic', 'pct2prace','pctwhite']].to_numpy()
    predicted = row[['pctaian_predict','pctapi_predict','pctblack_predict','pcthispanic_predict','pct2prace_predict','pctwhite_predict']].to_numpy()
    true= np.array(true).astype(float)
    probs_true = true/true.sum()
    
    predicted= np.array(predicted).astype(float)
    probs_predicted = predicted/predicted.sum()

    draws_true = choice(6, 100, p = probs_true)
    draws_predicted = choice(6, 100, p = probs_predicted)
    
    return (draws_true == draws_predicted).sum()/100

In [ ]:
inhouse['inhouse_acc'] = inhouse.apply(lambda row: sampling_accuracy_4_one(row), axis=1)

In [ ]:
inhouse['inhouse_acc'].mean()